<app-list-page-header [displayMode]="displayMode" [itemOptionsPerPage]="[5,10,20]" [itemsPerPage]="itemsPerPage"
  [selectAllState]="selectAllState" (changeDisplayMode)="changeDisplayMode($event)" (addNewItem)="showAddNewModal()"
  (selectAllChange)="selectAllChange($event)" (itemsPerPageChange)="itemsPerPageChange($event)"
  (changeOrderBy)="changeOrderBy($event)" (searchKeyUp)="searchKeyUp($event)">
</app-list-page-header>
<app-add-new-product-modal #addNewModalRef></app-add-new-product-modal>

<context-menu #basicMenu>
  <ng-template contextMenuItem let-item (execute)="onContextMenuClick('move-to-archive',$event.item)">
    <i class="simple-icon-drawer mr-1"></i> <span>Move to archive</span>
  </ng-template>
  <ng-template contextMenuItem let-item (execute)="onContextMenuClick('delete',$event.item)">
    <i class="simple-icon-trash mr-1"></i><span>Delete</span>
  </ng-template>
</context-menu>

<div class="row">
  <div class="col-12 list">
    <div [ngClass]="{'card d-flex flex-row mb-3': true, 'active':isSelected(p)}" *ngFor="let p of apiService.inventorydata; let i=index"
      [contextMenu]="basicMenu" [contextMenuSubject]="p">
      <div class="d-flex flex-grow-1 min-width-zero">
        <div class="card-body align-self-center d-flex flex-column flex-md-row justify-content-between min-width-zero align-items-md-center">
          <a class="list-item-heading mb-0 truncate w-40 w-xs-100" href="javascript:;" (click)="viewItem(p)">
            <span class="demo-icon iconsminds-yes"></span>{{p.name}}
          </a>
          <p class="mb-0 text-muted text-small w-15 w-xs-100">{{p.lastemailsent}}</p>
          <p class="mb-0 text-muted text-small w-15 w-xs-100">{{p.totalproject}}</p>
          <p class="mb-0 text-muted text-small w-15 w-xs-100">₹{{p.income | number:'1.2-2'}}</p>
          <div class="w-15 w-xs-100">
            <span [class]="'badge badge-pill badge-'+ p.statusColor">{{p.status}}</span>
          </div>
        </div>
        <label class="custom-control custom-checkbox mb-1 align-self-center pr-4">
          <input type="checkbox" class="custom-control-input" [id]="'customCheck'+i" [checked]="isSelected(p)"
            (change)="onSelect(p)">
          <label class="custom-control-label" [for]="'customCheck'+i"></label>
        </label>
      </div>
    </div>
  </div>

  <div class="col-12">
    <pagination [totalItems]="totalItem" [itemsPerPage]="itemsPerPage" [rotate]="true" [maxSize]="5"
      [(ngModel)]="currentPage" (pageChanged)="pageChanged($event)" class="justify-content-center"
      [customNextTemplate]="nextTemplate" [customPreviousTemplate]="prevTemplate">
    </pagination>
  </div>
</div>

<ng-template #nextTemplate let-disabled="disabled" let-currentPage="currentPage">
  <i class='simple-icon-arrow-right'></i>
</ng-template>
<ng-template #prevTemplate let-disabled="disabled" let-currentPage="currentPage">
  <i class='simple-icon-arrow-left'></i>
</ng-template>
