<ng-template #template>
    <form #form="ngForm" novalidate>
        <div class="modal-header">
            <h4 class="modal-title pull-left">{{'customer-form.heading' | translate}}</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
            </button><br>
        </div>
        <div class="modal-body">
            <div>
                <label>{{ 'customer-form.name' | translate }}</label>
                <input type="text" class="form-control" placeholder="E.g. Hudson" #name="ngModel" name="name" [(ngModel)]="apiService.model.name" required>
                <div *ngIf="!name.valid && form.submitted" class="invalid-tooltip">Name is required!</div>
            </div>
            <span class="demo-icon iconsminds-information"></span>{{ 'customer-form.heading1' | translate }}
            <div class="mt-4">
                <label>{{ 'customer-form.email' | translate }}</label>
                <input type="email" class="form-control" placeholder="Email address" #email="ngModel" name="email" [(ngModel)]="apiService.model.email">
                <div *ngIf="!email.valid && form.submitted" class="invalid-tooltip">Email is required!</div>
            </div>
            <div class="mt-4">
                <label>{{ 'customer-form.contact' | translate }}</label>
                <input type="text" class="form-control" placeholder="Phone number" #contact="ngModel" name="contact" [(ngModel)]="apiService.model.contact">
            </div>
            <ul><li class="divider dropdown-divider"></li></ul>
            <!-- <div class="mt-4">
                <label>{{ 'customer-form.address' | translate }}</label>
                <textarea class="form-control" rows="3" placeholder="Address" #address="ngModel" name="address" [(ngModel)]="apiService.model.address"></textarea>
            </div> -->
            <div class="form-row">
                <label class="form-group has-float-label col-md-6">
                    {{ 'customer-form.street' | translate }}
                    <input type="text" class="form-control" placeholder="Street" #street="ngModel" name="street" [(ngModel)]="apiService.model.street">
                </label>
                <label class="form-group has-float-label col-md-6">
                    &nbsp;
                    <input type="text" class="form-control" placeholder="Suite" #suite="ngModel" name="suite" [(ngModel)]="apiService.model.suite">
                </label>
            </div>
            <div class="form-row">
                <label class="form-group has-float-label col-md-6">
                    {{ 'customer-form.city' | translate }}
                    <input type="text" class="form-control" placeholder="City" #city="ngModel" name="city" [(ngModel)]="apiService.model.city">
                </label>
                <label class="form-group has-float-label col-md-6">
                    &nbsp;
                    <input type="text" class="form-control" placeholder="ZIP Code" #zipcode="ngModel" name="zipcode" [(ngModel)]="apiService.model.zipcode">
                </label>
            </div>
            <div class="form-row">
                <label class="form-group has-float-label col-md-6">
                    {{ 'customer-form.country' | translate }}
                    <ng-select appearance="outline" [searchable]="false" >
                        <ng-option *ngFor="let ct of country" [value]="ct.value">{{ct.label}}
                        </ng-option>
                    </ng-select>
                </label>
                <label class="form-group has-float-label col-md-6">
                    &nbsp;
                    <input type="text" class="form-control" placeholder="State" #state="ngModel" name="state" [(ngModel)]="apiService.model.state">
                </label>
            </div>
            <ul><li class="divider dropdown-divider"></li></ul>
            <label>{{ 'customer-form.heading2' | translate }}</label>
            <div class="mt-4">
                <div class="custom-control custom-radio">
                  <input class="custom-control-input" type="radio" value="T" #taxtype="ngModel" name="taxtype" id="Radios1" 
                        [(ngModel)]="apiService.model.taxtype" required>
                  <label class="custom-control-label" for="Radios1">{{ 'customer-form.radio1' | translate }}
                    <!-- <div *ngIf="!radio.valid && formStep1.submitted" class="invalid-tooltip">Organization is required!</div> -->
                  </label>
                </div>
                <div class="custom-control custom-radio">
                  <input class="custom-control-input" type="radio" value="C" #taxtype="ngModel" name="taxtype" id="Radios2" 
                        [(ngModel)]="apiService.model.taxtype" required>
                  <label class="custom-control-label" for="Radios2">{{ 'customer-form.radio2' | translate }}
                  </label>
                </div>
            </div>
            <div class="form-row">
                <label class="form-group has-float-label col-md-5">
                    {{ 'customer-form.lable' | translate }}
                    <input type="text" class="form-control" placeholder="Lable" #lable="ngModel" name="lable" [(ngModel)]="apiService.model.lable">
                </label>
                <label class="form-group has-float-label col-md-7">
                    {{ 'customer-form.idnumber' | translate }}
                    <input type="text" class="form-control" placeholder="ID Number" #idnumber="ngModel" name="idnumber" [(ngModel)]="apiService.model.idnumber">
                </label>
            </div>
            <div class="form-row">
                <label class="form-group has-float-label col-md-5">
                   <b>{{ 'customer-form.notes' | translate }}</b><br>
                   {{ 'customer-form.notesheading' | translate }}
                </label>
                <label class="form-group has-float-label col-md-7">
                    {{ 'customer-form.notes' | translate }}
                    <input type="text" class="form-control" placeholder="Note" #idnumber="ngModel" name="notes" [(ngModel)]="apiService.model.notes">
                </label>
            </div>
            <div class="form-row">
                <label class="form-group has-float-label col-md-5">
                    <b>{{ 'customer-form.tags' | translate }}</b><br>
                    {{ 'customer-form.tagsheading' | translate }}
                </label>
                <label class="form-group has-float-label col-md-7">
                    {{ 'customer-form.tags' | translate }}
                    <input type="text" class="form-control" placeholder="Tags" #idnumber="ngModel" name="tags" [(ngModel)]="apiService.model.tags">
                </label>
            </div>
            
            <!-- <div class="mt-4">
                <label>{{ 'pages.category' | translate }}</label>
                <label class="w-100">
                    <ng-select appearance="outline" [searchable]="false">
                        <ng-option *ngFor="let item of categories" [value]="item.value">{{item.label}}
                        </ng-option>
                    </ng-select>
                </label>
            </div>
            <div class="mt-4">
                <label>{{ 'pages.description' | translate }}</label>
                <textarea class="form-control" rows="3"></textarea>
            </div> -->
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-primary" (click)="modalRef.hide()">{{'pages.cancel' | translate }}</button>
            <button type="button" class="btn btn-primary float-right" (click)="onSubmit(form)">{{ 'pages.submit' | translate}}</button>
        </div>
    </form>
</ng-template>
<simple-notifications></simple-notifications>