
<h4 class="mb-4"><b><span>{{ 'setup.formheading' | translate}}</span></b></h4>
<div class="card mb-5">
  <div class="card-body">
    <aw-wizard #wizard>
      <aw-wizard-step stepTitle="Step 1" style="min-height: 120px;">
        <h6 class="mb-4"><b>{{ 'setupform1.mainheading' | translate}}</b></h6>
        <ng-template awWizardStepSymbol><i class="fa fa-search"></i></ng-template>
        <form #formStep1="ngForm" novalidate>
          <label class="form-group has-float-label">
            <input class="form-control" type="text" placeholder="" required ngModel #name="ngModel" name="name" />
            <span>{{ 'setupform1.name' | translate }}</span>
            <div *ngIf="!name.valid && formStep1.submitted" class="invalid-tooltip">Name is required!</div>
          </label>
          <label class="form-group has-float-label">
            <input class="form-control" type="text" placeholder="" required ngModel #email="ngModel" name="email" />
            <span>{{ 'setupform1.email' | translate }}</span>
            <div *ngIf="!email.valid && formStep1.submitted" class="invalid-tooltip">Email is required!</div>
          </label>
          <span><h3>{{ 'setupform1.heading1' | translate }}</h3></span>
          <label class="form-group has-float-label">
            <ng-select [items]="['Designor', 'Developer', 'Consultant']" [hideSelected]="true"
              multiple="true" ngModel #profession="ngModel" name="profession">
            </ng-select>
            <span>{{ 'setupform1.profession' | translate}}</span>
          </label>
          <label class="form-group has-float-label">
            <ng-select [items]="['Beginnor (0-3 years)', 'Intermediated (4-6 years)', 'Expert (6+ years)']" [hideSelected]="true"
              multiple="false" ngModel #experience="ngModel" name="experience">
            </ng-select>
            <span>{{ 'setupform1.experience' | translate}}</span>
          </label>
          <div class="form-group">
            <label>{{ 'setupform1.organization' | translate }}</label>
            <div class="custom-control custom-radio">
              <input class="custom-control-input" type="radio" value="solo" name="radio" ngModel id="Radios1"
                #radio="ngModel" required>
              <label class="custom-control-label" for="Radios1">I work solo
                <!-- <div *ngIf="!radio.valid && formStep1.submitted" class="invalid-tooltip">Organization is required!</div> -->
              </label>
            </div>
            <div class="custom-control custom-radio">
              <input class="custom-control-input" type="radio" value="team" name="radio" ngModel id="Radios2"
                #radio="ngModel" required>
              <label class="custom-control-label" for="Radios2">I work on a team
              </label>
            </div>
          </div>
          <!-- <div class="d-flex justify-content-between align-items-center">
            <a routerLink="/user/forgot-password">{{ 'user.forgot-password' | translate }}?</a>
            <a routerLink=""></a>
            <app-state-button [btnClass]="'btn btn-primary btn-lg btn-shadow'" [currentState]="buttonState"
              [isDisabled]="buttonDisabled" click="onLoginClick()">
              {{ 'setupform1.continue-button' | translate | uppercase }}
            </app-state-button>
          </div> -->
        </form>
        <div class="text-center">
          <button type="button" class="btn btn-primary" awPreviousStep disabled>{{ 'setup.prev' | translate }}</button>{{" "}}
          <button type="button" class="btn btn-primary" (click)="onNextStep1()">{{ 'setup.next' | translate }}</button>
        </div>
      </aw-wizard-step>

      <aw-wizard-step stepTitle="Step 2" style="min-height: 120px;">
        <h6 class="mb-4"><b>{{'setupform2.mainheading' | translate}}</b></h6>
        <form #formStep2="ngForm" novalidate>
          <div class="form-row">
            <label class="form-group has-float-label col-md-8">
              <input class="form-control" type="text" placeholder="business name" ngModel #form2bname="ngModel" name="form2bname" />
              <span>{{ 'setupform2.bname' | translate }}</span>
            </label>
            <div class="input-group mb-3 col-md-4">
              <div class="custom-file">
                <input type="file" name="inputgroup" ngModel id="inputGroupFile02" #inputgroup="ngModel" class="custom-file-input">
                <label class="custom-file-label" for="inputGroupFile02">{{ 'setupform2.upload' | translate}}</label>
              </div>
            </div>
            <span>{{ 'setupform2.headiing1' | translate}}</span>
          </div>
          <div class="form-row">
            <label class="form-group has-float-label col-md-12">
              <textarea class="form-control" rows="3" type="text" placeholder="Description" ngModel #form2description="ngModel" name="form2description"></textarea>
              <span>{{ 'setupform2.description' | translate}}</span>
            </label>
          </div>
          <!-- <div class="input-group mb-3">
            <div class="custom-file">
              <input type="file" name="inputgroup" ngModel id="inputGroupFile02" #inputgroup="ngModel" class="custom-file-input">
              <label class="custom-file-label" for="inputGroupFile02">{{'input-groups.choose-file' | translate}}</label>
            </div>
            <div class="input-group-append">
              <span class="input-group-text">{{'input-groups.upload' | translate}}</span>
            </div>
          </div> -->
          <!-- <div class="text-center">
            <span><h3>{{ 'setupform2.sample' | translate }}</h3></span>
            <span><h2><b>{{ Name }}</b></h2></span>
          </div>
          <ul><li class="divider dropdown-divider"></li></ul>
          <h3><span>Hi there <span class="demo-icon iconsminds-user"></span></span></h3>
          <h3><span>Thanks for your business! </span></h3>
          <h3><span>- {{ Name }}</span></h3> -->
        </form>
        <div class="text-center">
          <button type="button" class="btn btn-primary" awPreviousStep>{{ 'setup.prev' | translate }}</button>{{" "}}
          <button type="button" class="btn btn-primary" (click)="onNextStep2()">{{ 'setup.next' | translate }}</button>
        </div>
      </aw-wizard-step>

      <aw-wizard-step stepTitle="Step 3" style="min-height: 120px;">
        <h6 class="mb-4"><b> {{'setupform3.mainheading' | translate}}</b></h6>
        <form #formStep3="ngForm" novalidate>
          &nbsp; <b>{{ 'setupform3.addressheadinng' | translate}}</b>
          <div class="form-row">
            <label class="form-group has-float-label col-md-12">
              <textarea class="form-control" rows="3" type="text" placeholder="124 main street" ngModel #address="ngModel" name="address"></textarea>
              <span>{{ 'setupform3.address' | translate}}</span>
            </label>
          </div>
          <ul><li class="divider dropdown-divider"></li></ul>
          &nbsp; <b>{{'setupform3.phoneheading' | translate}}</b>
          <div class="form-row">
            <label class="form-group has-float-label col-md-6">
              <input class="form-control" type="text" placeholder="+1(555)123-4567" ngModel #phone1="ngModel" name="phone1" />
              <span>{{ 'setupform3.phone1' | translate }}</span>
            </label>
            <label class="form-group has-float-label col-md-6">
              <input class="form-control" type="text" placeholder="+1(555)123-4567" ngModel #phone2="ngModel" name="phone2" />
              <span>{{ 'setupform3.phone2' | translate }}</span>
            </label>
          </div>
          <ul><li class="divider dropdown-divider"></li></ul>
          &nbsp; <b>{{'setupform3.taxheading' | translate}}</b>
          <div class="form-row">
            <label class="form-group has-float-label col-md-4">
              <ng-select [items]="[]" [hideSelected]="true"
                multiple="false" ngModel #btype="ngModel" name="btype">
              </ng-select>
              <span>{{ 'setupform3.btype' | translate}}</span>
            </label>
            <label class="form-group has-float-label col-md-8">
              <input class="form-control" type="text" ngModel #regnumber="ngModel" name="regnumber" />
              <span>{{ 'setupform3.regnumber' | translate }}</span>
            </label>
          </div>
          <div class="form-row">
            <label class="form-group has-float-label col-md-4">
              <input class="form-control" type="text" placeholder="" ngModel #taxlebel="ngModel" name="taxlebel" />
              <span>{{ 'setupform3.taxlebel' | translate }}</span>
            </label>
            <label class="form-group has-float-label col-md-8">
              <input class="form-control" type="text" placeholder="" ngModel #idnumber="ngModel" name="idnumber" />
              <span>{{ 'setupform3.idnumber' | translate }}</span>
            </label>
          </div>

          <!-- <label class="form-group has-float-label">
            <input class="form-control" type="text" placeholder="registered business name" ngModel #form3name="ngModel" name="form3name" />
            <span>{{ 'setupform3.name' | translate }}</span>
          </label>  
          <span>{{ 'setupform3.heading1' | translate }}</span>    
          <label class="form-group has-float-label">
            <ng-select [items]="['INR']" [hideSelected]="true"
              multiple="false" ngModel #currency="ngModel" name="currency">
            </ng-select>
            <span>{{ 'setupform3.currency' | translate}}</span>
          </label>
          <label class="form-group has-float-label">
            <ng-select [items]="['English(India)']" [hideSelected]="true"
              multiple="false" ngModel #format="ngModel" name="format">
            </ng-select>
            <span>{{ 'setupform3.format' | translate}}</span>
          </label>
          <span>{{'setupform3.heading2' | translate}}{{ Number | number:'1.2-2'}}, {{ Date | date: 'dd/MM/yyyy'}}</span> 
          <label class="form-group has-float-label">
            <ng-select [items]="['(GMT+05:30) Chennai, Kolkata, Mumbai, New Delhi']" [hideSelected]="true"
              multiple="false" ngModel #zone="ngModel" name="zone">
            </ng-select>
            <span>{{ 'setupform3.zone' | translate}}</span>
          </label>  
          <span>{{ 'setupform3.heading3' | translate }}</span>  -->
        </form>
        <div class="text-center">
          <button type="button" class="btn btn-primary" awPreviousStep>{{ 'wizard.prev' | translate }}</button>{{" "}}
          <button type="button" class="btn btn-primary" (click)="onNextStep3()">{{ 'wizard.next' | translate }}</button>
        </div>
      </aw-wizard-step>

      <aw-wizard-step stepTitle="Step 4" style="min-height: 120px;">
        <h6 class="mb-4"><b>{{'setupform4.mainheading' | translate}}</b></h6>
        <form #formStep4="ngForm" novalidate>
          <label class="form-group has-float-label">
            <ng-select [items]="['INR']" [hideSelected]="true"
              multiple="false" ngModel #currency="ngModel" name="currency">
            </ng-select>
            <span>{{ 'setupform4.currency' | translate}}</span><br>
          </label>
          <label class="form-group has-float-label">
            <ng-select [items]="['English(India)']" [hideSelected]="true"
              multiple="false" ngModel #format="ngModel" name="format">
            </ng-select>
            <span>{{ 'setupform4.format' | translate}}</span>
          </label>
          <span>{{ 'setupform4.heading1' | translate }}{{ Number | number:'1.2-2'}}, {{ Date | date: 'dd/MM/yyyy'}}</span><br> 
          <label class="form-group has-float-label">
            <ng-select [items]="['(GMT+05:30) Chennai, Kolkata, Mumbai, New Delhi']" [hideSelected]="true"
              multiple="false" ngModel #zone="ngModel" name="zone">
            </ng-select>
            <span>{{ 'setupform4.zone' | translate}}</span>
          </label>  
          <span>{{ 'setupform4.heading2' | translate }}</span><br><br>
          &nbsp; <b>{{ 'setupform4.editorderheading' | translate}}</b><br>
          <span>{{ 'setupform4.heading3' | translate }}</span>
          <div class="form-row">
            <label class="form-group has-float-label col-md-6">
              <input class="form-control" type="text" placeholder="+1(555)123-4567" ngModel #prefix="ngModel" name="prefix" />
              <span>{{ 'setupform4.prefix' | translate }}</span>
            </label>
            <label class="form-group has-float-label col-md-6">
              <input class="form-control" type="text" placeholder="+1(555)123-4567" ngModel #suffix="ngModel" name="suffix" />
              <span>{{ 'setupform4.suffix' | translate }}</span>
            </label>
          </div>
          <span>{{ 'setupform4.heading4' | translate }}</span>
          <!-- <button type="button" class="btn" (click)="isCollapsedBusiness = !isCollapsedBusiness" 
          [attr.aria-expanded]="!isCollapsedBusiness" aria-controls="collapsedBusiness">
          <span [style.display]="!isCollapsedBusiness ? '': 'none'" class="demo-icon simple-icon-plus"></span>
          &nbsp; <b>{{'setupform4.business' | translate}}</b>
        </button>
        <div id="collapsedBusiness" [collapse]="!isCollapsedBusiness" class="p-2 border">
          <div class="form-row">
            <label class="form-group has-float-label col-md-8">
              <input (change)="setaddres()" class="form-control" type="text" placeholder="124 main street" ngModel #street="ngModel" name="street" />
              <span>{{ 'setupform4.street' | translate }}</span>
            </label>
            <label class="form-group has-float-label col-md-4">
              <input (change)="setaddres()" class="form-control" type="text" placeholder="Apt/Uni" ngModel #apt="ngModel" name="apt" />
              <span>{{ 'setupform4.apt' | translate }}</span>
            </label>
          </div>
          <div class="form-row">
            <label class="form-group has-float-label col-md-8">
              <input (change)="setaddres()" class="form-control" type="text" placeholder="City" ngModel #city="ngModel" name="city" />
              <span>{{ 'setupform4.city' | translate }}</span>
            </label>
            <label class="form-group has-float-label col-md-4">
              <input (change)="setaddres()" class="form-control" type="text" placeholder="ZIP/Postal code" ngModel #zip="ngModel" name="zip" />
              <span>{{ 'setupform4.zip' | translate }}</span>
            </label>
          </div>
          <div class="form-row">
            <label class="form-group has-float-label col-md-8">
              <ng-select (change)="setaddres()" [items]="['India']" [hideSelected]="true"
                multiple="false" ngModel #country="ngModel" name="country">
              </ng-select>
              <span>{{ 'setupform4.country' | translate}}</span>
            </label>
            <label class="form-group has-float-label col-md-4">
              <input (change)="setaddres()" class="form-control" type="text" placeholder="State" ngModel #state="ngModel" name="state" />
              <span>{{ 'setupform4.state' | translate }}</span>
            </label>
          </div>
        </div>
        <button type="button" class="btn" (click)="isCollapsedPhone = !isCollapsedPhone" 
          [attr.aria-expanded]="!isCollapsedPhone" aria-controls="collapsedPhone">
          <span [style.display]="!isCollapsedPhone ? '': 'none'" class="demo-icon simple-icon-plus"></span>
          &nbsp; <b>{{'setupform4.phone' | translate}}</b>
        </button>
        <div id="collapsedPhone" [collapse]="!isCollapsedPhone" class="p-2 border">
          <div class="form-row">
            <label class="form-group has-float-label col-md-12">
              <input (change)="setaddres()" class="form-control" type="text" placeholder="+1(555)123-4567" ngModel #phone="ngModel" name="phone" />
              <span>{{ 'setupform4.phone' | translate }}</span>
            </label>
          </div>
        </div>
        <button type="button" class="btn" (click)="isCollapsedTax = !isCollapsedTax" 
          [attr.aria-expanded]="!isCollapsedTax" aria-controls="collapsedTax">
          <span [style.display]="!isCollapsedTax ? '': 'none'" class="demo-icon simple-icon-plus"></span>
          &nbsp; <b>{{'setupform4.tax' | translate}}</b>
        </button>
        <div id="collapsedTax" [collapse]="!isCollapsedTax" class="p-2 border">
          <div class="form-row">
            <label class="form-group has-float-label col-md-4">
              <input (change)="setaddres()" class="form-control" type="text" placeholder="Tax ID" ngModel #lebel="ngModel" name="lebel" />
              <span>{{ 'setupform4.lebel' | translate }}</span>
            </label>
            <label class="form-group has-float-label col-md-8">
              <input (change)="setaddres()" class="form-control" type="text" placeholder="555-55-5555" ngModel #idnumber="ngModel" name="idnumber" />
              <span>{{ 'setupform4.idnumber' | translate }}</span>
            </label>
          </div>
        </div>
        <ul><li class="divider dropdown-divider"></li></ul>
        <div class="text-center">
          <span><h3>{{ 'setupform4.preview' | translate }}</h3></span>
        </div>
        <span><b>{{ Name }}</b></span><br>
        <span>{{ PreviewAddress }}</span><br>
        <span>{{ PreviewPhone }}</span><br>
        <span>{{ PreviewTax }}</span> -->
        </form>
        <div class="text-center">
          <button type="button" class="btn btn-primary" awPreviousStep>{{ 'wizard.prev' | translate }}</button>{{" "}}
          <button type="button" class="btn btn-primary" (click)="onNextStep4()">{{ 'wizard.next' | translate }}</button>
        </div>
      </aw-wizard-step>

      <aw-wizard-completion-step stepTitle="{{ 'setup.done' | translate }}" style="min-height: 120px;">
        <div class="text-center complete-message-centered">
          <div *ngIf="posting">
            <div class="spinner-border text-primary" role="status">
            </div>
            <div class="mt-3">{{ 'setup.saving' | translate }}</div>
          </div>
          <div *ngIf="!posting">
            <span style="color: green;" class="demo-icon simple-icon-check"></span><br>
            <h2 class="mb-2">{{ 'setup.complete' | translate }}</h2><br>
            <p>{{ 'setup.suggestion' | translate }}</p>
            </div>
        </div>
      </aw-wizard-completion-step>

    </aw-wizard>
  </div>
</div>


<simple-notifications></simple-notifications>
