<div class="row">
  <div class="col-12">
      <app-heading></app-heading>
      <app-breadcrumb></app-breadcrumb>
      <div class="separator mb-5"></div>
  </div>
</div>
<!-- <app-wizard-basic></app-wizard-basic>
<app-wizard-end-step></app-wizard-end-step>
<app-wizard-validation></app-wizard-validation>
<app-wizard-vertical></app-wizard-vertical> -->
<!-- <app-wizard-icons></app-wizard-icons> -->
