<ng-template #template>
    <form #form="ngForm" novalidate>
        <div class="modal-header">
            <h4 class="modal-title pull-left">{{'customer-form.heading' | translate}}</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
            </button><br>
        </div>
        <div class="modal-body">
            <div>
                <label>{{ 'customer-form.name' | translate }}</label>
                <input type="text" class="form-control" placeholder="E.g. Hudson" #name="ngModel" name="name" [(ngModel)]="apiService.model.name" required>
                <div *ngIf="!name.valid && form.submitted" class="invalid-tooltip">Name is required!</div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-primary" (click)="modalRef.hide()">{{'pages.cancel' | translate }}</button>
            <button type="button" class="btn btn-primary float-right" (click)="onSubmit(form)">{{ 'pages.submit' | translate}}</button>
        </div>
    </form>
</ng-template>
<simple-notifications></simple-notifications>